
@{
    ViewData["Title"] = "Danh sách Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <h1 class="mt-4">Danh sách Category</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách Category</li>
        </ol>
        <div class="card mb-12">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo mới</a>
                    </div>
                    <div class="col-md-6 col-xs-12">
                    </div>
                </div>
            </div>

            
        </div>
    </div>

